@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Source Sans Pro', sans-serif;
    --cor1: #0080ed;
    --cor2: #00747C;
    --cor3: #0094C9;
    --cor4: #878787;
    --cor5: #202022;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html, body {
    font-family: var(--fonte2);
    text-rendering: optimizeLegibility;  /* Ajuda a manter a legibilidade boa, quando da zoom por exemplo */
    -webkit-font-smoothing: antialiased; /* Ajuda a manter a legibilidade boa, quando da zoom por exemplo */
}

/*HEADER*/

header {
    background-color: var(--cor1);
}

#checkbox-menu {
    display: none;
}

header .container {
    display: flex; /*Os elementos tem comportamento inline. Ficam do lado do outro. Ajuda na responsividade*/
    align-items: center;
    justify-content: space-between; /* A propriedade justify-content alinha os itens do contêiner flexível quando os itens não usam todo o espaço disponível no eixo principal (horizontal). O space-between faz com que os itens tenham espaço entre eles */
    max-width: 980px; /*Quando a tela fica mais de 980px, evita o menu de ficar no extremo canto direito*/
    height: 80px;
    margin: auto; /*Centraliza os emelentos na horizontal. Com o max-width, os elementos do meu e a logo da stratse não ficam nos extremos da tela quando passa de 980px*/
}

header .container img {
    cursor: pointer;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s; /*A propriedade de transição é uma propriedade abreviada para: transition-property, transition-duration, transition-timing-function, transition-delay. Vai fazer uma animação nos links do menu quando entra ou atualiza a página*/
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

/*MAIN*/

main {
    margin-bottom: 100px;
}

main .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

main .container-main img {
    width: 600px;
}

h2 {
    color: black;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

h3 {
    color: var(--cor4);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0px;
}

.container-main form {
    margin-top: 20px;
}

.container-main form input {
    width: 380px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid var(--cor1);
}

form #botao {
    background-color: var(--cor1);
    color: white;
}

form #botao:hover {
    cursor: pointer;
    background-color: var(--cor3);
    transform: translateY(-2px);
}

/*SECTION CARDS*/
section a {
    text-decoration: none;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--cor4);
}

.card {
    display: flex;
    flex-direction: column; /*Os itens flexíveis são exibidos verticalmente, como uma coluna*/
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px black;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-7px); /*Faz o card subir o eixo y para cima quando o cursor estiver em cima*/
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden; /*controlar o comportamento dos elementos de blocos (imagem aqui no caso) quando o conteúdo é maior do que os limites do elemento*/
    position: relative;
    border-radius: 10px 10px 0px 0px;
    height: 225px;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: 20px;
}

.title {
    margin-bottom: 0px; /*Usando para nada*/
}

/*DESAFIO*/


#form {
    font-size: 100px;
    
    border: 1px solid var(--cor4);
    border-radius: 20px;
    margin: 100px auto;
    max-width: 980px;
    padding: 10px;
}

.formulario > form {
    line-height: 20px;
}

input.infone, input#bot {
    width: 460px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid var(--cor1);
}

input#bot {
    background-color: var(--cor1);
    color: white;
    cursor: pointer;
}

input#tel {
    margin-bottom: 20px;
}

#msg {
    width: 600px;
    font-family: var(--fonte1);
    font-size: 18px;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid var(--cor1);
    color: var(--cor4);
}

section .texto {
    text-align: center;
}

section .texto > h2 {
    font-size: 0.3em;
    color: var(--cor2);
}

section .texto > p {
    font-size: 18px;
    color: var(--cor5);
}

